.container{
  display: flex;
  flex-direction: column;
  max-width: 750px;
  height: auto;
  min-height: 100%;
  @media screen and (min-width: 768px){
    margin-right: auto;
    margin-left: auto;
  }
  &__main{
    padding: 16px;
  }
}
